<div{{ attributes }}>
    {{ label }} 
    <button 
        data-action="live#action" 
        data-live-action-param="openShutter"
    >Ouvrir le volet</button>

    <button 
        data-action="live#action" 
        data-live-action-param="closeShutter"
    >Fermer le volet</button>
</div>
